- var questionTitle = "В Mavic 2 улучшены практически все аспекты: камера, передача видеосигнала, полётное время, скорость, уровень шума, обнаружение препятствий в нескольких направлениях, интеллектуальные функции и уникальная функция Hyperlapse (гиперлапс)."

mixin header()
    header.header
        .container
            .header__inner
                a.logo(href="#")
                    picture.logo__img
                        source(srcset="images/logo-mobile.png", media="(max-width:600px)")
                        img(src="images/logo.png", alt="logo")
                nav.menu
                    ul.menu__list
                        +navItem("О дроне")
                        +navItem("Преимущества")
                        +navItem("Характеристики")
                        +navItem("Вопросы")
                        +navItem("Контакты")
                .header__info
                    button.header__btn купить
                    a.header__phone(href="tel:80505676767") 8 (050) 567 67 67
mixin navItem(text)
    li.menu__list-item
        a.menu__list-link(href="#")=text
mixin sliderItem()
    .products__slider-item
        img.products__slider-img(src="images/slider-1.png")
mixin benefitItem(num, title, text)
    .benefits__item
        .benefits__num=num
        h4.benefits__img
            img(src="images/benefits-1.png")
        .benefits__info
            h4.benefits__info-title=title
            p.benefits__info-text=text
mixin characteristicBox(title, text)
    .characteristic__box
        h4.characteristic__box-title=title
        p.characteristic__box-text=text
mixin questionItem(title, text)
    .questions__item
        h4.questions__item-title=title
        p.questions__item-text=text
        button.questions__item-btn
            include images/arrow-question.svg
mixin contactsBox(title, phone, email)
    .contacts__info-box
        p.contacts__info-title=title
        a.contacts__info-phone(href="#")=phone
        a.contacts__info-email(href="#")=email

//header
header.header
    .container
        .header__inner
            a.logo(href="#")
                picture.logo__img
                    source(srcset="images/logo-mobile.png", media="(max-width:600px)")
                    img(src="images/logo.png", alt="logo")
            nav.menu
                ul.menu__list
                    +navItem("О дроне")
                    +navItem("Преимущества")
                    +navItem("Характеристики")
                    +navItem("Вопросы")
                    +navItem("Контакты")
            .header__info
                button.header__btn купить
                a.header__phone(href="tel:80505676767") 8 (050) 567 67 67

// home
//section#main.page-section.top
    .page-section__wrapper
        .container
            .top__inner
                h1.top__title Mavic 2 Pro
                img.top__img(src="images/mavic.png")
                p.top__text
                    | Квадрокоптер Dji Mavic 2 Pro с профессиональной камерой Hasselblad
                ul.top__social-list
                    li.top__social-item
                        a.top__social-link(href="#")
                            include images/facebook.svg
                    li.top__social-item
                        a.top__social-link(href="#")
                            include images/youtube.svg
                    li.top__social-item
                        a.top__social-link(href="#")
                            include images/instagram.svg
        .scroll__btn
            a(href="#products")
                include images/arrow-down.svg

// что такое
//section#products.page-section.products
    .page-section__wrapper
        .container
            h3.title.products__title Что такое Mavic 2 Pro?
            .products__inner
                .products__text
                    p Дрон Mavic 2 Pro - это инженерное чудо, идеальное для аэросъемки. Дрон обладает всеми лучшими технологиями DJI, он преобразит мир аэросъемки
                    p Mavic 2 Pro оснащен совершенно новой камерой Hasselblad L1D-20c. Камера L1D-20c работает по уникальной технологии Hasselblad Natural Colour Solution (HNCS)5, позволяющей пользователям делать великолепные снимки с воздуха с разрешением в 20 мегапикселей и потрясающими цветами.
                .products__slider-box
                    p.products__slider-text Лучшая беспилотная технология аэросъемки
                    .products__slider
                        +sliderItem
                    .slider__group.products__group
                        .slider__btn.slider__btn_position_left
                            include images/arrow-right.svg
                        .slider__btn.slider__btn_position_right
                            include images/arrow-right.svg
    .scroll__btn
            a(href="#benefits")
                include images/arrow-down.svg

// преимущества
//section#benefits.page-section.benefits
    .page-section__wrapper
        .container
            h3.title.benefits__title Преимущества
            .benefits__inner
                .benefits__items
                    .benefits__item
                        .benefits__num 1
                        h4.benefits__img
                            img(src="images/benefits-1.png")
                        .benefits__info
                            h4.benefits__info-title Интеллектуальные режими
                            p.benefits__info-text
                                | Mavic 2 унаследовал 6 стандартных режимов интеллектуальной съемки QuickShot:Roket/Dronie/Circle/Helix/Boomerang/Asteroid.
                    .benefits__item
                        .benefits__num 2
                        h4.benefits__img
                            img(src="images/benefits-2.png")
                        .benefits__info
                            h4.benefits__info-title Active Track 2.0
                            p.benefits__info-text
                                | Усовершенствованный режим второго поколения распознаёт и отслеживает объекты ещё точнее, быстрее и умнее.
                    .benefits__item
                        .benefits__num 3
                        h4.benefits__img
                            img(src="images/benefits-3.png")
                        .benefits__info
                            h4.benefits__info-title Панорамная съемка
                            p.benefits__info-text
                                | Mavic 2 поддерживает 4 режима панорамной съёмки: сферическая, 180 градусов, горизонтальная, вертикальная
                    .benefits__item
                        .benefits__num 4
                        h4.benefits__img
                            img(src="images/benefits-4.png")
                        .benefits__info
                            h4.benefits__info-title Крутая камера!
                            p.benefits__info-text
                                | Технология Hyperlapse в четырёх режимах исполнения. Улучшенный фото режим HDR Функция HyperLight для съёмки в условиях слабого освещения 4К съёмка
    .scroll__btn
                a(href="#characteristic")
                    include images/arrow-down.svg

// характеристики
//section#characteristic.page-section.characteristic
    .page-section__wrapper
        .container
            h3.title.characteristic__title Характеристики
            .characteristic__inner
                .characteristic__info.characteristic__info-left
                    +characteristicBox("Dlog-M 10 бит", "Mavic 2 Pro поддерживает цветовой профиль Dlog-M 10 бит с более широким динамическим диапазоном, дающим больше возможностей для цветокоррекции.")
                    +characteristicBox("Камера Hasselblad", "Камера Hasselblad L1D-20С известны эргономичным дизайном и превосходным качеством изображений. ")
                .characteristic__img
                    img(src="images/mavic.png")
                .characteristic__info.characteristic__info-right
                    +characteristicBox("Матрица CMOS 1", "Зона активной работы новой 1-дюймовой матрицы CMOS в четыре раза превышает показатели Mavic Pro")
                    +characteristicBox("Видео HDR", "Благодаря поддержке видео 4K HDR 10 бит, Mavic 2 Pro можно подсоединить к совместимому с HLG 4K ТВ и просматривать запись в полном цветовом спектре")
        .scroll__btn
            a(href="#questions")
                include images/arrow-down.svg

// вопросы 7
section#questions.page-section.questions
    .page-section__wrapper
        .container
            h3.title.questions__title Остались вопросы?
            .questions__inner
                .questions__img
                    img(src="images/drone-questions.png")
                .questions__items
                    +questionItem("Какие отличия между Mavic 2 Pro и Mavic 2 Zoom?", questionTitle)
                    +questionItem("Чем Mavic 2 лучше Mavic Pro?", questionTitle)
                    +questionItem("Можно ли подключить Mavic 2 к очкам DJI Goggles?", questionTitle)
                    +questionItem("Является ли Mavic 2 водонепроницаемым？", questionTitle)
        .scroll__btn
            a(href="#contacts")
                include images/arrow-down.svg

// контакты
section#contacts.page-section.contacts
    .page-section__wrapper
        .container
            h3.title.contacts__title Контакты
            .contacts__inner
                //.contacts__info
                //    .contacts__info-box
                //        p.contacts__info-title Киев
                //        a.contacts__info-phone(href="tel:80505676767") +8 (050) 567– 67 – 67
                //        a.contacts__info-email(href="mailto:dgi.mavic2pro.kiev@mail.ru") dgi.mavic2pro.kiev@mail.ru
                //    .contacts__info-box
                //        p.contacts__info-title Москва
                //        a.contacts__info-phone(href="tel:74995676767") +7 (499) 567– 67 – 67
                //        a.contacts__info-email(href="mailto:dgi.mavic2pro.moscow@mail.ru") dgi.mavic2pro.moscow@mail.ru
                //    .contacts__info-box
                //        p.contacts__info-title Минск
                //        a.contacts__info-phone(href="tel:375175676767") +3 (7517) 567– 67 – 67
                //        a.contacts__info-email(href="mailto:dgi.mavic2pro.minsk@mail.ru") dgi.mavic2pro.minsk@mail.ru
                //.contacts__form
                //    form(method="POST")
                //        h4.contacts__form-title Остались вопросы ?
                //        p.contacts__form-text Мы обязательно свяжемся с вами в течение двух рабочих дней
                //        .contacts__form-line
                //            input.contacts__form-input(placeholder="Ваше имя", type="text")
                //            input.contacts__form-input(placeholder="Ваше e-mail", type="email")
                //        textarea.contacts__form-textare(placeholder="Что вас интересует?")
                //        button.contacts__form-btn Отправить

                ul.contacts__social-list
                    li.contacts__social-item
                        a.contacts__social-link(href="#")
                            include images/facebook.svg
                    li.contacts__social-item
                        a.contacts__social-link(href="#")
                            include images/youtube.svg
                    li.contacts__social-item
                        a.contacts__social-link(href="#")
                            include images/instagram.svg
        .scroll__btn
            a(href="#")
                include images/arrow-down.svg

// футер
footer.footer
    .container
        p.footer__copy &copy; DJI, 2020